.main-container {
  width: 100vw;
  min-height: 50vh;
}

.admin-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.menu-options-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-btn {
  width: 250px;
  display: block;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  border: 2px solid skyblue;
  border-radius: 8px;
  padding: 4px 80px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 4px;
}

.active-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  margin-bottom: 12px;
}
