.home-container {
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  /* text-align: center; */
  margin-bottom: 30px;
  padding: 20px;
}

.section {
  background-color: #fff;
  padding: 20px;
  margin: auto;
  /* margin-bottom: 20px; */
  border-radius: 8px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

h2 {
  font-size: 24px;
  margin-bottom: 5px;
  text-align: center;
}

p {
  line-height: 1.6;
  margin-bottom: 5px;
}

strong {
  font-weight: bold;
  color: #0066cc;
}

.section-content-images {
  display: flex;
  flex-direction: column;
  margin: 60px;
}

.section-images {
  order: 0;
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-bottom: 8px;
  margin-top: 0px;
}

.section-content {
  order: 1;
  width: 100%;
}

.section-images-img {
  margin: 6px;
  height: 200px;
  width: 200px;
  flex-shrink: 1;
}

@media screen and (max-width: 768px) {
  /* .section-content-images {
    flex-direction: column;
  }

  .section-images {
    flex-direction: row;
    order: 0;
  }

  .section-content {
    order: 1;
  } */
}
