.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-logo{
  width: ;
}